:root {
  /* Colors */
  --muza-primary-text-color: #333333;
  --muza-secondary-text-color: #5f5f5f;
  --muza-buttons-color: #ededed;
  --muza-tertiary-text-color: #aaa;
  --muza-border-color: #a9a9a9;
  --muza-hover-background: #eeeeee;
  --muza-button-background: #eeeeee;
  --muza-section-background: #f7f7f7;
  --muza-button-hover-background: #dddddd;
  --muza-slider-track-color: #c2c2c2;
  --muza-slider-fill-color: #5f5f5f;
  --muza-section-title-color: #5f5f5f;
  --muza-section-subtitle-color: #aaa;
  --muza-section-button-color: #333333;
  --muza-section-border-color: #a9a9a9;
  --muza-section-scrollbar-button-bg: #eeeeee;
  --muza-section-scrollbar-track-bg: #c2c2c2;
  --muza-section-scrollbar-thumb-bg: #5f5f5f;
  --muza-image-background-color-bg: #d9d9d9;
  --muza-toggle-active-color: #3b82f6;
  --muza-input-bg: #ffffff;
  --muza-input-disabled-bg: #f3f4f6;
  --muza-input-error-border: #e53935;
  --muza-input-success-border: #4caf50;

  /* Typography */
  --muza-primary-font-size: 14px;
  --muza-title-font-size: 27px;
  --muza-secondary-font-size: 12px;
  --muza-heading-font-size: 18px;
  --muza-font-weight-normal: 400;
  --muza-font-weight-medium: 500;
  --muza-font-weight-bold: 600;
  --muza-font-weight-bold-extra: 700;
  --muza-songline-title-font-size: 16px;
  --muza-songline-number-font-size: 16px;
  --muza-songline-duration-font-size: 15px;
  --muza-section-button-font-size: 12px;

  /* Spacing and Layout */
  --muza-spacing-xs: 4px;
  --muza-spacing-sm: 8px;
  --muza-spacing-md: 12px;
  --muza-spacing-lg: 16px;
  --muza-spacing-xl: 24px;
  --muza-spacing-xxl: 36px;
  --muza-sidebar-width: 240px;
  --muza-song-line-height: 24px;
  --muza-songline-padding: 8px 8px;
  --muza-songline-height: 28px;
  --muza-section-margin-bottom: 32px;
  --muza-section-header-margin: 0 0 2px 16px;
  --muza-section-header-padding-bottom: 5px;
  --muza-section-header-min-height: 32px;
  --muza-section-header-margin-top: 32px;
  --muza-section-header-padding-top: 5px;
  --muza-section-button-padding: 6px 10px;
  --muza-section-scrollbar-height: 3px;

  /* Elements */
  --muza-border-radius-sm: 4px;
  --muza-border-radius-md: 8px;
  --muza-border-radius-lg: 20px;
  --muza-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* figma */
  --colors_primary_light: #1d4ed8;
  --typography_font_family_font_sans: Founders Grotesk;
  --typography_font_family_font_serif: Georgia;
  --typography_font_family_font_mono: Menlo;
  --border_radius_default:;
  --border_radius_sm:;
  --border_radius_lg:;
  --border_radius_full: 99;
  --colors_primary_dark: #2563eb;
  --colors_accent_light: #f3f4f6;
  --colors_accent_foreground_dark: #f9fafb;
  --colors_background_light: #ffffff;
  --colors_background_dark: #030712;
  --colors_border_light: #e5e7eb;
  --colors_border_dark: #1f2937;
  --colors_card_light: #ffffff;
  --colors_card_dark: #030712;
  --colors_accent_dark: #1f2937;
  --colors_card_foreground_light: #030712;
  --colors_card_foreground_dark: #f9fafb;
  --colors_destructive_light: #dc2626;
  --colors_destructive_dark: #7f1d1d;
  --colors_destructive_foreground_light: #fef2f2;
  --colors_destructive_foreground_dark: #fef2f2;
  --colors_accent_foreground_light: #111827;
  --colors_foreground_light: #030712;
  --colors_foreground_dark: #f9fafb;
  --colors_input_light: #e5e7eb;
  --colors_input_dark: #1f2937;
  --colors_muted_light: #f9fafb;
  --colors_muted_dark: #111827;
  --colors_popover_light: #ffffff;
  --colors_popover_dark: #030712;
  --colors_popover_foreground_light: #030712;
  --colors_popover_foreground_dark: #f9fafb;
  --colors_primary_foreground_light: #f9fafb;
  --colors_primary_foreground_dark: #111827;
  --colors_ring_light: #111827;
  --colors_ring_dark: #d1d5db;
  --colors_secondary_light: #f3f4f6;
  --colors_secondary_dark: #1f2937;
  --colors_secondary_foreground_light: #111827;
  --colors_secondary_foreground_dark: #f9fafb;
  --colors_muted_foreground_light: #6b7280;
  --colors_muted_foreground_dark: #9ca3af;
  --typography_base_sizes_base_font_size: ;
  --typography_base_sizes_base_line_height: ;
  --typography_base_sizes_small_font_size: ;
  --typography_base_sizes_small_line_height: ;
  --typography_base_sizes_large_font_size: ;
  --typography_base_sizes_large_line_height: ;
  --typography_base_sizes_extra_small_font_size: ;
  --typography_base_sizes_extra_small_line_height: ;
  --typography_typography_components_h_1_font_size: ;
  --typography_typography_components_h_1_line_height: ;
  --typography_typography_components_h_1_font_weight: 0;
  --typography_typography_components_h_1_letter_spacing: 0.400000005960464;
  --typography_typography_components_h_1_font_family: Founders Grotesk;
  --typography_typography_components_h_2_font_family: Founders Grotesk;
  --typography_typography_components_h_2_font_size: ;
  --typography_typography_components_h_2_line_height: ;
  --typography_typography_components_h_2_font_weight: 0;
  --typography_typography_components_h_2_letter_spacing: 0.400000005960464;
  --typography_typography_components_h_3_font_family: Founders Grotesk;
  --typography_typography_components_h_3_font_size: ;
  --typography_typography_components_h_3_line_height: ;
  --typography_typography_components_h_3_font_weight: 0;
  --typography_typography_components_h_3_letter_spacing: 0.400000005960464;
  --typography_typography_components_h_4_font_family: Founders Grotesk;
  --typography_typography_components_h_4_font_size: ;
  --typography_typography_components_h_4_line_height: ;
  --typography_typography_components_h_4_font_weight: 0;
  --typography_typography_components_h_4_letter_spacing: 0.400000005960464;
  --typography_typography_components_p_font_family: Founders Grotesk;
  --typography_typography_components_p_font_size: ;
  --typography_typography_components_p_line_height: ;
  --typography_typography_components_p_font_weight: 0;
  --typography_typography_components_p_letter_spacing:;
  --typography_typography_components_blockquote_font_family: Founders Grotesk;
  --typography_typography_components_blockquote_font_size: ;
  --typography_typography_components_blockquote_line_height: ;
  --typography_typography_components_blockquote_font_weight: 0;
  --typography_typography_components_blockquote_letter_spacing:;
  --border_radius_xl: ;
  --typography_typography_components_blockquote_font_style: italic;
  --typography_typography_components_list_font_family: Founders Grotesk;
  --typography_typography_components_list_font_size: ;
  --typography_typography_components_list_line_height: ;
  --typography_typography_components_list_font_weight: 0;
  --typography_typography_components_list_letter_spacing:;
  --typography_typography_components_inline_code_font_family: Menlo;
  --typography_typography_components_inline_code_font_size: ;
  --typography_typography_components_inline_code_line_height: ;
  --typography_typography_components_inline_code_font_weight: 0;
  --typography_typography_components_inline_code_letter_spacing:;
  --typography_typography_components_lead_font_family: Founders Grotesk;
  --typography_typography_components_lead_font_size: ;
  --typography_typography_components_lead_line_height: ;
  --typography_typography_components_lead_font_weight: 0;
  --typography_typography_components_lead_letter_spacing:;
  --typography_typography_components_large_font_family: Founders Grotesk;
  --typography_typography_components_large_font_size: ;
  --typography_typography_components_large_line_height: ;
  --typography_typography_components_large_font_weight: 0;
  --typography_typography_components_large_letter_spacing:;
  --typography_typography_components_small_font_family: Founders Grotesk;
  --typography_typography_components_small_font_size: ;
  --typography_typography_components_small_line_height: ;
  --typography_typography_components_small_font_weight: 0;
  --typography_typography_components_small_letter_spacing: ;
  --border_radius_md:;
  --typography_base_sizes_xlarge_font_size: ;
  --typography_base_sizes_xlarge_line_height: ;
  --typography_base_sizes_2x_large_font_size: ;
  --typography_base_sizes_2x_large_line_height: ;
  --typography_base_sizes_4x_large_font_size: ;
  --typography_base_sizes_4x_large_line_height: ;
  --typography_base_sizes_3x_large_font_size: ;
  --typography_base_sizes_3x_large_line_height: ;
  --colors_chart_1_light: #2a9d90;
  --colors_chart_1_dark: #2662d9;
  --colors_chart_2_light: #e76e50;
  --colors_chart_2_dark: #e23670;
  --colors_chart_3_light: #274754;
  --colors_chart_3_dark: #e88c30;
  --colors_chart_4_light: #e8c468;
  --colors_chart_4_dark: #af57db;
  --colors_chart_5_light: #f4a462;
  --colors_chart_5_dark: #2eb88a;
  --typography_typography_components_table_font_family: Founders Grotesk;
  --typography_typography_components_table_font_size: ;
  --typography_typography_components_table_font_weight: 0;
  --typography_typography_components_table_letter_spacing:;
  --typography_typography_components_table_font_weight_bold: 0;
  --typography_typography_components_h_1_font_size_lg: ;
  --colors_sidebar_foreground_light: #374151;
  --colors_sidebar_background_light: #f9fafb;
  --colors_sidebar_background_dark: #111827;
  --colors_sidebar_foreground_dark: #f3f4f6;
  --colors_sidebar_primary_light: #111827;
  --colors_sidebar_primary_dark: #1d4ed8;
  --colors_sidebar_primary_foreground_light: #f9fafb;
  --colors_sidebar_primary_foreground_dark: #ffffff;
  --colors_sidebar_accent_light: #f3f4f6;
  --colors_sidebar_accent_dark: #1f2937;
  --colors_sidebar_accent_foreground_light: #111827;
  --colors_sidebar_accent_foreground_dark: #f3f4f6;
  --colors_sidebar_border_light: #e5e7eb;
  --colors_sidebar_border_dark: #1f2937;
  --colors_sidebar_ring_light: #9ca3af;
  --colors_sidebar_ring_dark: #d1d5db;
  --typography_base_sizes_base_letter_spacing:;
  --typography_base_sizes_small_letter_spacing: 0.2;
  --typography_base_sizes_extra_small_letter_spacing:;
  --typography_base_sizes_large_letter_spacing:;
  --typography_base_sizes_xlarge_letter_spacing:;
  --typography_base_sizes_4x_large_letter_spacing:;
  --typography_base_sizes_2x_large_letter_spacing:;
  --typography_base_sizes_3x_large_letter_spacing:;
  --typography_typography_components_h_1_letter_spacing_2: 0.400000005960464;
  --colors_background_light_0_: #ffffff00;
  --colors_background_dark_0_: #03071200;
  --colors_muted_light_0_: #f9fafb00;
  --colors_muted_dark_0_: #11182700;
  --colors_secondary_light_0_: #f3f4f600;
  --colors_secondary_dark_0_: #1f293700;
  --colors_muted_light_50_: #f9fafb7f;
  --colors_muted_dark_50_: #1118277f;
  --colors_secondary_dark_50_: #1f29377f;
  --colors_secondary_light_50_: #f3f4f67f;
  --colors_background_light_50_: #ffffff7f;
  --colors_background_dark_50_: #0307127f;
}
