:root {
  /* Colors */
  --muza-primary-text-color: #333333;
  --muza-secondary-text-color: #5f5f5f;
  --muza-buttons-color: #ededed;
  --muza-tertiary-text-color: #aaa;
  --muza-border-color: #a9a9a9;
  --muza-light-border-color: #e5e7eb;
  --muza-hover-background: #eeeeee;
  --muza-button-background: #eeeeee;
  --muza-section-background: #f7f7f7;
  --muza-button-hover-background: #dddddd;
  --muza-slider-track-color: #c2c2c2;
  --muza-slider-fill-color: #5f5f5f;
  --muza-section-title-color: #5f5f5f;
  --muza-section-subtitle-color: #aaa;
  --muza-section-button-color: #333333;
  --muza-section-border-color: #a9a9a9;
  --muza-section-scrollbar-button-bg: #eeeeee;
  --muza-section-scrollbar-track-bg: #c2c2c2;
  --muza-section-scrollbar-thumb-bg: #5f5f5f;
  --muza-image-background-color-bg: #d9d9d9;
  --muza-toggle-active-color: #3b82f6;
  --muza-input-bg: #ffffff;
  --muza-input-disabled-bg: #f3f4f6;
  --muza-input-error-border: #e53935;
  --muza-input-success-border: #4caf50;
  --muza-player-info-background: #f9fafb;
  --muza-track-title-color: #111827;
  --muza-track-artist-color: #6b7280;
  --muza-separator-color: #9ca3af;

  /* Typography */
  --muza-primary-font-size: 14px;
  --muza-title-font-size: 27px;
  --muza-secondary-font-size: 12px;
  --muza-heading-font-size: 18px;
  --muza-font-weight-normal: 400;
  --muza-font-weight-medium: 500;
  --muza-font-weight-bold: 600;
  --muza-font-weight-bold-extra: 700;
  --muza-songline-title-font-size: 16px;
  --muza-songline-number-font-size: 16px;
  --muza-songline-duration-font-size: 15px;
  --muza-section-button-font-size: 12px;

  /* Spacing and Layout */
  --muza-spacing-xs: 4px;
  --muza-spacing-sm: 8px;
  --muza-spacing-md: 12px;
  --muza-spacing-lg: 16px;
  --muza-spacing-xl: 24px;
  --muza-spacing-xxl: 36px;
  --muza-sidebar-width: 240px;
  --muza-song-line-height: 24px;
  --muza-songline-padding: 8px 8px;
  --muza-songline-height: 28px;
  --muza-section-margin-bottom: 32px;
  --muza-section-header-margin: 0 0 2px 16px;
  --muza-section-header-padding-bottom: 5px;
  --muza-section-header-min-height: 32px;
  --muza-section-header-margin-top: 32px;
  --muza-section-header-padding-top: 5px;
  --muza-section-button-padding: 6px 10px;
  --muza-section-scrollbar-height: 3px;

  /* Elements */
  --muza-border-radius-sm: 4px;
  --muza-border-radius-md: 8px;
  --muza-border-radius-lg: 20px;
  --muza-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* figma  camelcase*/
  --colorsPrimaryLight: #1d4ed8;
  --typographyFontFamilyFontSans: Founders Grotesk;
  --typographyFontFamilyFontSerif: Georgia;
  --typographyFontFamilyFontMono: Menlo;
  --borderRadiusDefault: 6;
  --borderRadiusSm: 2;
  --borderRadiusLg: 8;
  --borderRadiusFull: 9999;
  --colorsPrimaryDark: #2563eb;
  --colorsAccentLight: #f3f4f6;
  --colorsAccentForegroundDark: #f9fafb;
  --colorsBackgroundLight: #ffffff;
  --colorsBackgroundDark: #030712;
  --colorsBorderLight: #e5e7eb;
  --colorsBorderDark: #1f2937;
  --colorsCardLight: #ffffff;
  --colorsCardDark: #030712;
  --colorsAccentDark: #1f2937;
  --colorsCardForegroundLight: #030712;
  --colorsCardForegroundDark: #f9fafb;
  --colorsDestructiveLight: #dc2626;
  --colorsDestructiveDark: #7f1d1d;
  --colorsDestructiveForegroundLight: #fef2f2;
  --colorsDestructiveForegroundDark: #fef2f2;
  --colorsAccentForegroundLight: #111827;
  --colorsForegroundLight: #030712;
  --colorsForegroundDark: #f9fafb;
  --colorsInputLight: #e5e7eb;
  --colorsInputDark: #1f2937;
  --colorsMutedLight: #f9fafb;
  --colorsMutedDark: #111827;
  --colorsPopoverLight: #ffffff;
  --colorsPopoverDark: #030712;
  --colorsPopoverForegroundLight: #030712;
  --colorsPopoverForegroundDark: #f9fafb;
  --colorsPrimaryForegroundLight: #f9fafb;
  --colorsPrimaryForegroundDark: #111827;
  --colorsRingLight: #111827;
  --colorsRingDark: #d1d5db;
  --colorsSecondaryLight: #f3f4f6;
  --colorsSecondaryDark: #1f2937;
  --colorsSecondaryForegroundLight: #111827;
  --colorsSecondaryForegroundDark: #f9fafb;
  --colorsMutedForegroundLight: #6b7280;
  --colorsMutedForegroundDark: #9ca3af;
  --typographyBaseSizesBaseFontSize: 18;
  --typographyBaseSizesBaseLineHeight: 24;
  --typographyBaseSizesSmallFontSize: 16;
  --typographyBaseSizesSmallLineHeight: 20;
  --typographyBaseSizesLargeFontSize: 20;
  --typographyBaseSizesLargeLineHeight: 28;
  --typographyBaseSizesExtraSmallFontSize: 14;
  --typographyBaseSizesExtraSmallLineHeight: 16;
  --typographyTypographyComponentsH1FontSize: 48;
  --typographyTypographyComponentsH1LineHeight: 40;
  --typographyTypographyComponentsH1FontWeight: 700;
  --typographyTypographyComponentsH1LetterSpacing: -0.4000000059604645;
  --typographyTypographyComponentsH1FontFamily: Founders Grotesk;
  --typographyTypographyComponentsH2FontFamily: Founders Grotesk;
  --typographyTypographyComponentsH2FontSize: 36;
  --typographyTypographyComponentsH2LineHeight: 36;
  --typographyTypographyComponentsH2FontWeight: 700;
  --typographyTypographyComponentsH2LetterSpacing: -0.4000000059604645;
  --typographyTypographyComponentsH3FontFamily: Founders Grotesk;
  --typographyTypographyComponentsH3FontSize: 30;
  --typographyTypographyComponentsH3LineHeight: 32;
  --typographyTypographyComponentsH3FontWeight: 700;
  --typographyTypographyComponentsH3LetterSpacing: -0.4000000059604645;
  --typographyTypographyComponentsH4FontFamily: Founders Grotesk;
  --typographyTypographyComponentsH4FontSize: 24;
  --typographyTypographyComponentsH4LineHeight: 28;
  --typographyTypographyComponentsH4FontWeight: 600;
  --typographyTypographyComponentsH4LetterSpacing: -0.4000000059604645;
  --typographyTypographyComponentsPFontFamily: Founders Grotesk;
  --typographyTypographyComponentsPFontSize: 16;
  --typographyTypographyComponentsPLineHeight: 24;
  --typographyTypographyComponentsPFontWeight: 400;
  --typographyTypographyComponentsPLetterSpacing: 0;
  --typographyTypographyComponentsBlockquoteFontFamily: Founders Grotesk;
  --typographyTypographyComponentsBlockquoteFontSize: 18;
  --typographyTypographyComponentsBlockquoteLineHeight: 24;
  --typographyTypographyComponentsBlockquoteFontWeight: 400;
  --typographyTypographyComponentsBlockquoteLetterSpacing: 0;
  --borderRadiusXl: 12;
  --typographyTypographyComponentsBlockquoteFontStyle: italic;
  --typographyTypographyComponentsListFontFamily: Founders Grotesk;
  --typographyTypographyComponentsListFontSize: 18;
  --typographyTypographyComponentsListLineHeight: 28;
  --typographyTypographyComponentsListFontWeight: 400;
  --typographyTypographyComponentsListLetterSpacing: 0;
  --typographyTypographyComponentsInlineCodeFontFamily: Menlo;
  --typographyTypographyComponentsInlineCodeFontSize: 16;
  --typographyTypographyComponentsInlineCodeLineHeight: 20;
  --typographyTypographyComponentsInlineCodeFontWeight: 600;
  --typographyTypographyComponentsInlineCodeLetterSpacing: 0;
  --typographyTypographyComponentsLeadFontFamily: Founders Grotesk;
  --typographyTypographyComponentsLeadFontSize: 24;
  --typographyTypographyComponentsLeadLineHeight: 28;
  --typographyTypographyComponentsLeadFontWeight: 400;
  --typographyTypographyComponentsLeadLetterSpacing: 0;
  --typographyTypographyComponentsLargeFontFamily: Founders Grotesk;
  --typographyTypographyComponentsLargeFontSize: 20;
  --typographyTypographyComponentsLargeLineHeight: 28;
  --typographyTypographyComponentsLargeFontWeight: 400;
  --typographyTypographyComponentsLargeLetterSpacing: 0;
  --typographyTypographyComponentsSmallFontFamily: Founders Grotesk;
  --typographyTypographyComponentsSmallFontSize: 14;
  --typographyTypographyComponentsSmallLineHeight: 14;
  --typographyTypographyComponentsSmallFontWeight: 400;
  --typographyTypographyComponentsSmallLetterSpacing: 16;
  --borderRadiusMd: 6;
  --typographyBaseSizesXlargeFontSize: 24;
  --typographyBaseSizesXlargeLineHeight: 28;
  --typographyBaseSizes2xLargeFontSize: 30;
  --typographyBaseSizes2xLargeLineHeight: 32;
  --typographyBaseSizes4xLargeFontSize: 48;
  --typographyBaseSizes4xLargeLineHeight: 40;
  --typographyBaseSizes3xLargeFontSize: 36;
  --typographyBaseSizes3xLargeLineHeight: 36;
  --colorsChart1Light: #2a9d90;
  --colorsChart1Dark: #2662d9;
  --colorsChart2Light: #e76e50;
  --colorsChart2Dark: #e23670;
  --colorsChart3Light: #274754;
  --colorsChart3Dark: #e88c30;
  --colorsChart4Light: #e8c468;
  --colorsChart4Dark: #af57db;
  --colorsChart5Light: #f4a462;
  --colorsChart5Dark: #2eb88a;
  --typographyTypographyComponentsTableFontFamily: Founders Grotesk;
  --typographyTypographyComponentsTableFontSize: 18;
  --typographyTypographyComponentsTableFontWeight: 400;
  --typographyTypographyComponentsTableLetterSpacing: 0;
  --typographyTypographyComponentsTableFontWeightBold: 700;
  --typographyTypographyComponentsH1FontSizeLg: 60;
  --colorsSidebarForegroundLight: #374151;
  --colorsSidebarBackgroundLight: #f9fafb;
  --colorsSidebarBackgroundDark: #111827;
  --colorsSidebarForegroundDark: #f3f4f6;
  --colorsSidebarPrimaryLight: #111827;
  --colorsSidebarPrimaryDark: #1d4ed8;
  --colorsSidebarPrimaryForegroundLight: #f9fafb;
  --colorsSidebarPrimaryForegroundDark: #ffffff;
  --colorsSidebarAccentLight: #f3f4f6;
  --colorsSidebarAccentDark: #1f2937;
  --colorsSidebarAccentForegroundLight: #111827;
  --colorsSidebarAccentForegroundDark: #f3f4f6;
  --colorsSidebarBorderLight: #e5e7eb;
  --colorsSidebarBorderDark: #1f2937;
  --colorsSidebarRingLight: #9ca3af;
  --colorsSidebarRingDark: #d1d5db;
  --typographyBaseSizesBaseLetterSpacing: 0;
  --typographyBaseSizesSmallLetterSpacing: 0.25;
  --typographyBaseSizesExtraSmallLetterSpacing: 0;
  --typographyBaseSizesLargeLetterSpacing: 0;
  --typographyBaseSizesXlargeLetterSpacing: 0;
  --typographyBaseSizes4xLargeLetterSpacing: 0;
  --typographyBaseSizes2xLargeLetterSpacing: 0;
  --typographyBaseSizes3xLargeLetterSpacing: 0;
  --typographyTypographyComponentsH1LetterSpacing2: -0.4000000059604645;
  --colorsBackgroundLight0: #ffffff00;
  --colorsBackgroundDark0: #03071200;
  --colorsMutedLight0: #f9fafb00;
  --colorsMutedDark0: #11182700;
  --colorsSecondaryLight0: #f3f4f600;
  --colorsSecondaryDark0: #1f293700;
  --colorsMutedLight50: #f9fafb7f;
  --colorsMutedDark50: #1118277f;
  --colorsSecondaryDark50: #1f29377f;
  --colorsSecondaryLight50: #f3f4f67f;
  --colorsBackgroundLight50: #ffffff7f;
  --colorsBackgroundDark50: #0307127f;

  /* figma */
  --colors_primary_light: #1d4ed8;
  --typography_font_family_font_sans: Founders Grotesk;
  --typography_font_family_font_serif: Georgia;
  --typography_font_family_font_mono: Menlo;
  --border_radius_default:;
  --border_radius_sm:;
  --border_radius_lg:;
  --border_radius_full: 99;
  --colors_primary_dark: #2563eb;
  --colors_accent_light: #f3f4f6;
  --colors_accent_foreground_dark: #f9fafb;
  --colors_background_light: #ffffff;
  --colors_background_dark: #030712;
  --colors_border_light: #e5e7eb;
  --colors_border_dark: #1f2937;
  --colors_card_light: #ffffff;
  --colors_card_dark: #030712;
  --colors_accent_dark: #1f2937;
  --colors_card_foreground_light: #030712;
  --colors_card_foreground_dark: #f9fafb;
  --colors_destructive_light: #dc2626;
  --colors_destructive_dark: #7f1d1d;
  --colors_destructive_foreground_light: #fef2f2;
  --colors_destructive_foreground_dark: #fef2f2;
  --colors_accent_foreground_light: #111827;
  --colors_foreground_light: #030712;
  --colors_foreground_dark: #f9fafb;
  --colors_input_light: #e5e7eb;
  --colors_input_dark: #1f2937;
  --colors_muted_light: #f9fafb;
  --colors_muted_dark: #111827;
  --colors_popover_light: #ffffff;
  --colors_popover_dark: #030712;
  --colors_popover_foreground_light: #030712;
  --colors_popover_foreground_dark: #f9fafb;
  --colors_primary_foreground_light: #f9fafb;
  --colors_primary_foreground_dark: #111827;
  --colors_ring_light: #111827;
  --colors_ring_dark: #d1d5db;
  --colors_secondary_light: #f3f4f6;
  --colors_secondary_dark: #1f2937;
  --colors_secondary_foreground_light: #111827;
  --colors_secondary_foreground_dark: #f9fafb;
  --colors_muted_foreground_light: #6b7280;
  --colors_muted_foreground_dark: #9ca3af;
  --typography_base_sizes_base_font_size: ;
  --typography_base_sizes_base_line_height: ;
  --typography_base_sizes_small_font_size: ;
  --typography_base_sizes_small_line_height: ;
  --typography_base_sizes_large_font_size: ;
  --typography_base_sizes_large_line_height: ;
  --typography_base_sizes_extra_small_font_size: ;
  --typography_base_sizes_extra_small_line_height: ;
  --typography_typography_components_h_1_font_size: ;
  --typography_typography_components_h_1_line_height: ;
  --typography_typography_components_h_1_font_weight: 0;
  --typography_typography_components_h_1_letter_spacing: 0.400000005960464;
  --typography_typography_components_h_1_font_family: Founders Grotesk;
  --typography_typography_components_h_2_font_family: Founders Grotesk;
  --typography_typography_components_h_2_font_size: ;
  --typography_typography_components_h_2_line_height: ;
  --typography_typography_components_h_2_font_weight: 0;
  --typography_typography_components_h_2_letter_spacing: 0.400000005960464;
  --typography_typography_components_h_3_font_family: Founders Grotesk;
  --typography_typography_components_h_3_font_size: ;
  --typography_typography_components_h_3_line_height: ;
  --typography_typography_components_h_3_font_weight: 0;
  --typography_typography_components_h_3_letter_spacing: 0.400000005960464;
  --typography_typography_components_h_4_font_family: Founders Grotesk;
  --typography_typography_components_h_4_font_size: ;
  --typography_typography_components_h_4_line_height: ;
  --typography_typography_components_h_4_font_weight: 0;
  --typography_typography_components_h_4_letter_spacing: 0.400000005960464;
  --typography_typography_components_p_font_family: Founders Grotesk;
  --typography_typography_components_p_font_size: ;
  --typography_typography_components_p_line_height: ;
  --typography_typography_components_p_font_weight: 0;
  --typography_typography_components_p_letter_spacing:;
  --typography_typography_components_blockquote_font_family: Founders Grotesk;
  --typography_typography_components_blockquote_font_size: ;
  --typography_typography_components_blockquote_line_height: ;
  --typography_typography_components_blockquote_font_weight: 0;
  --typography_typography_components_blockquote_letter_spacing:;
  --border_radius_xl: ;
  --typography_typography_components_blockquote_font_style: italic;
  --typography_typography_components_list_font_family: Founders Grotesk;
  --typography_typography_components_list_font_size: ;
  --typography_typography_components_list_line_height: ;
  --typography_typography_components_list_font_weight: 0;
  --typography_typography_components_list_letter_spacing:;
  --typography_typography_components_inline_code_font_family: Menlo;
  --typography_typography_components_inline_code_font_size: ;
  --typography_typography_components_inline_code_line_height: ;
  --typography_typography_components_inline_code_font_weight: 0;
  --typography_typography_components_inline_code_letter_spacing:;
  --typography_typography_components_lead_font_family: Founders Grotesk;
  --typography_typography_components_lead_font_size: ;
  --typography_typography_components_lead_line_height: ;
  --typography_typography_components_lead_font_weight: 0;
  --typography_typography_components_lead_letter_spacing:;
  --typography_typography_components_large_font_family: Founders Grotesk;
  --typography_typography_components_large_font_size: ;
  --typography_typography_components_large_line_height: ;
  --typography_typography_components_large_font_weight: 0;
  --typography_typography_components_large_letter_spacing:;
  --typography_typography_components_small_font_family: Founders Grotesk;
  --typography_typography_components_small_font_size: ;
  --typography_typography_components_small_line_height: ;
  --typography_typography_components_small_font_weight: 0;
  --typography_typography_components_small_letter_spacing: ;
  --border_radius_md:;
  --typography_base_sizes_xlarge_font_size: ;
  --typography_base_sizes_xlarge_line_height: ;
  --typography_base_sizes_2x_large_font_size: ;
  --typography_base_sizes_2x_large_line_height: ;
  --typography_base_sizes_4x_large_font_size: ;
  --typography_base_sizes_4x_large_line_height: ;
  --typography_base_sizes_3x_large_font_size: ;
  --typography_base_sizes_3x_large_line_height: ;
  --colors_chart_1_light: #2a9d90;
  --colors_chart_1_dark: #2662d9;
  --colors_chart_2_light: #e76e50;
  --colors_chart_2_dark: #e23670;
  --colors_chart_3_light: #274754;
  --colors_chart_3_dark: #e88c30;
  --colors_chart_4_light: #e8c468;
  --colors_chart_4_dark: #af57db;
  --colors_chart_5_light: #f4a462;
  --colors_chart_5_dark: #2eb88a;
  --typography_typography_components_table_font_family: Founders Grotesk;
  --typography_typography_components_table_font_size: ;
  --typography_typography_components_table_font_weight: 0;
  --typography_typography_components_table_letter_spacing:;
  --typography_typography_components_table_font_weight_bold: 0;
  --typography_typography_components_h_1_font_size_lg: ;
  --colors_sidebar_foreground_light: #374151;
  --colors_sidebar_background_light: #f9fafb;
  --colors_sidebar_background_dark: #111827;
  --colors_sidebar_foreground_dark: #f3f4f6;
  --colors_sidebar_primary_light: #111827;
  --colors_sidebar_primary_dark: #1d4ed8;
  --colors_sidebar_primary_foreground_light: #f9fafb;
  --colors_sidebar_primary_foreground_dark: #ffffff;
  --colors_sidebar_accent_light: #f3f4f6;
  --colors_sidebar_accent_dark: #1f2937;
  --colors_sidebar_accent_foreground_light: #111827;
  --colors_sidebar_accent_foreground_dark: #f3f4f6;
  --colors_sidebar_border_light: #e5e7eb;
  --colors_sidebar_border_dark: #1f2937;
  --colors_sidebar_ring_light: #9ca3af;
  --colors_sidebar_ring_dark: #d1d5db;
  --typography_base_sizes_base_letter_spacing:;
  --typography_base_sizes_small_letter_spacing: 0.2;
  --typography_base_sizes_extra_small_letter_spacing:;
  --typography_base_sizes_large_letter_spacing:;
  --typography_base_sizes_xlarge_letter_spacing:;
  --typography_base_sizes_4x_large_letter_spacing:;
  --typography_base_sizes_2x_large_letter_spacing:;
  --typography_base_sizes_3x_large_letter_spacing:;
  --typography_typography_components_h_1_letter_spacing_2: 0.400000005960464;
  --colors_background_light_0_: #ffffff00;
  --colors_background_dark_0_: #03071200;
  --colors_muted_light_0_: #f9fafb00;
  --colors_muted_dark_0_: #11182700;
  --colors_secondary_light_0_: #f3f4f600;
  --colors_secondary_dark_0_: #1f293700;
  --colors_muted_light_50_: #f9fafb7f;
  --colors_muted_dark_50_: #1118277f;
  --colors_secondary_dark_50_: #1f29377f;
  --colors_secondary_light_50_: #f3f4f67f;
  --colors_background_light_50_: #ffffff7f;
  --colors_background_dark_50_: #0307127f;
}
