.playlist-item {
  --tertiary-text-color: var(--muza-tertiary-text-color, #888888);
  --button-background: var(--muza-hover-background, #ededed);
  --border-color: var(--muza-border-color, #a9a9a9);

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid var(--border-color) 1px;
}

.playlist-item .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  font-size: 17px;
  padding: 10px 9px;
}

.track-number {
  padding: 7px;
  color: var(--tertiary-text-color);
  min-width: 20px;
  display: inline-block;
  font-size: var(--song-title-font-size);
  .muza-container {
    position: relative;
    top: 30px;
    right: 10px;
  }
}
