.song-line {
  --primary-text-color: var(--muza-primary-text-color, #000000);
  --secondary-text-color: var(--muza-secondary-text-color, #5f5f5f);
  --tertiary-text-color: var(--muza-tertiary-text-color, #888888);
  --border-color: var(--muza-border-color, #a9a9a9);
  --hover-background: #f9fafb;
  --song-title-font-size: var(--muza-songline-title-font-size, 16px);
  --song-number-font-size: var(--muza-songline-number-font-size, 14px);
  --song-duration-font-size: var(--muza-songline-duration-font-size, 14px);
  --song-line-padding: var(--muza-songline-padding, 12px 8px);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--song-line-padding);
  cursor: default;
  border-radius: var(--muza-border-radius-md);
}

.song-line:hover {
  background: var(--hover-background);
}

.song-line.playing {
  background: var(--hover-background);
  outline: 1px solid #e5e7eb;
}

.song-line.playing .track-title {
  color: var(--primary-text-color);
}

.song-line {
  .song-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }

  .track-info {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 40px;
  }

  .track-icon {
    margin-right: 8px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .track-number {
    color: var(--tertiary-text-color);
    margin-right: 8px;
    min-width: 20px;
    display: inline-block;
    font-size: var(--song-title-font-size);
  }

  .play-icon {
    display: none;
    color: var(--tertiary-text-color);
    margin-right: 8px;
    text-align: center;

    svg {
      width: 24px;
      margin-top: 4px;
    }
  }

  .track-title {
    color: var(--primary-text-color);
    font-size: var(--song-title-font-size);
    font-weight: 500;
  }

  .track-artist {
    color: var(--secondary-text-color);
    font-size: var(--song-artist-font-size);
    font-weight: 400;
  }

  .track-duration {
    color: var(--secondary-text-color);
    font-size: var(--song-duration-font-size);
  }

  .wave-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  .bar {
    width: 30%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--tertiary-text-color);
  }

  .bar:nth-child(1) {
    animation: wave 1s infinite ease-in-out;
  }

  .bar:nth-child(2) {
    animation: wave 1s infinite ease-in-out 0.2s;
  }

  .bar:nth-child(3) {
    animation: wave 1s infinite ease-in-out 0.4s;
  }
}

@keyframes wave {
  0%,
  100% {
    height: 60%;
  }
  50% {
    height: 100%;
  }
}

.song-line:hover .track-number {
  display: none;
}

.song-line:hover .play-icon {
  display: inline-block;
}
