.content {
  margin-bottom: 2rem;
  flex: 1;
  max-height: 100%;
  overflow: auto;
  height: 100%;
}

.content.side {
  width: 340px;
  max-width: 340px;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  grid-auto-flow: column;
}

.content.full {
  width: 100%;
  max-width: 100%;
}

.playlist {
  margin: 26px;
  overflow-y: auto;
}

.songs-list {
  border-top: 1px solid var(--muza-border-color, #a9a9a9);
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttons {
  position: absolute;
  left: 14px;
  top: 14px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.top small-album-details {
  padding-top: 56px;
  padding-bottom: 20px;
}

music-suggestions-list {
  margin: 26px 20px;
  overflow-y: auto;
}
