.music-suggestions-content {
  background-color: var(--muza-section-background, #f7f7f7);
  border-radius: 5px;
}

.music-suggestions-header {
  font-size: 20px;
  padding: 0 16px;
  color: var(--muza-secondary-text-color, #5f5f5f);
  height: 46px;
  font-weight: var(--muza-font-weight-bold, 600);
  display: flex;
  align-items: center;
}

.music-suggestions-playlist {
  padding: 0;
}

.songs-list {
  border-top: solid var(--muza-border-color, #a9a9a9) 1px;
  display: flex;
  flex-direction: column;
}
