.suggestions-list-item {
  --tertiary-text-color: var(--muza-tertiary-text-color, #888888);
  --button-background: var(--muza-hover-background, #ededed);
  --border-color: var(--muza-border-color, #a9a9a9);

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid var(--border-color) 1px;
  padding: 10px 16px;
}

.suggestions-list-item .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  font-size: 17px;
}
