.music-topbar {
  padding: 12px 24px;
  border-bottom: 1px solid var(--gray-50, #ededed);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-container {
  position: relative;
  min-width: 300px;
}

.search-container::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE0LjAwMDEgMTRMMTEuMTMzNSAxMS4xMzMzTTEyLjY2NjcgNy4zMzMzM0MxMi42NjY3IDEwLjI3ODkgMTAuMjc4OSAxMi42NjY3IDcuMzMzMzMgMTIuNjY2N0M0LjM4NzgxIDEyLjY2NjcgMiAxMC4yNzg5IDIgNy4zMzMzM0MyIDQuMzg3ODEgNC4zODc4MSAyIDcuMzMzMzMgMkMxMC4yNzg5IDIgMTIuNjY2NyA0LjM4NzgxIDEyLjY2NjcgNy4zMzMzM1oiIHN0cm9rZT0iIzZCNzI4MCIgc3Ryb2tlLXdpZHRoPSIxLjMzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
  position: absolute;
  left: 12px;
  top: 55%;
  transform: translateY(-50%);
  color: #666;
}

input {
  width: 100%;
  padding: 6px 8px 8px 35px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  background-color: #f9fafb;
}

input:focus {
  border-color: var(--muza-border-color);
  outline: 1px solid var(--muza-border-color);
}

input:focus::placeholder {
  opacity: 0.5;
}

.controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.controls .upload-music-button {
  color: var(--muza-primary-text-color);
  background-color: #f3f4f6;
  border-radius: var(--muza-border-radius-sm);
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: #666;
}

.upload-music-button::after {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIuNjY2NTcgOS45MzI4NEMyLjE3MTI2IDkuNDI2NzkgMS43OTc2MSA4LjgxNDY1IDEuNTczOTIgOC4xNDI4QzEuMzUwMjMgNy40NzA5NSAxLjI4MjM3IDYuNzU3MDEgMS4zNzU0NyA2LjA1NTA0QzEuNDY4NTggNS4zNTMwOCAxLjcyMDIgNC42ODE1MSAyLjExMTMgNC4wOTEyQzIuNTAyMzkgMy41MDA4OSAzLjAyMjY5IDMuMDA3MzIgMy42MzI3OSAyLjY0Nzg4QzQuMjQyODkgMi4yODg0MyA0LjkyNjc4IDIuMDcyNTUgNS42MzI2OCAyLjAxNjU2QzYuMzM4NTcgMS45NjA1OCA3LjA0Nzk1IDIuMDY1OTcgNy43MDcwOCAyLjMyNDc1QzguMzY2MjEgMi41ODM1MyA4Ljk1NzggMi45ODg5MiA5LjQzNzA2IDMuNTEwMkM5LjkxNjMxIDQuMDMxNDkgMTAuMjcwNiA0LjY1NSAxMC40NzMyIDUuMzMzNTFIMTEuNjY2NkMxMi4zMTAyIDUuMzMzNDQgMTIuOTM2OSA1LjU0MDM5IDEzLjQ1MzkgNS45MjM4QzEzLjk3MDkgNi4zMDcyMiAxNC4zNTA5IDYuODQ2NzUgMTQuNTM3NyA3LjQ2MjcxQzE0LjcyNDYgOC4wNzg2OCAxNC43MDg0IDguNzM4NCAxNC40OTE1IDkuMzQ0NDNDMTQuMjc0NiA5Ljk1MDQ1IDEzLjg2ODUgMTAuNDcwNyAxMy4zMzMyIDEwLjgyODJNOCA4LjAwMDE2VjE0LjAwMDJNOCA4LjAwMDE2TDEwLjY2NjcgMTAuNjY2OE04IDguMDAwMTZMNS4zMzMzMyAxMC42NjY4IiBzdHJva2U9IiMxMTE4MjciIHN0cm9rZS13aWR0aD0iMS4zMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");
  margin-left: 8px;
  margin-bottom: -5px;
}

.user-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 999px;
  overflow: hidden;
}
