.music-sidebar {
  display: block;
  width: 180px;
  height: 100vh;
  padding: 20px 0;
  border-right: 1px solid #ededed;
}

.logo {
  padding: 25px var(--muza-spacing-lg) var(--muza-spacing-lg);
  text-align: center;
}

.logo img {
  width: 120px;
  height: auto;
  margin-left: 12px;
}

.section {
  padding: 20px 0;
  margin: 0 10px;
  padding-left: 20px;
}

.section-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary-text-color);
  padding: 7px 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 7px 7px;
  color: #444;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border-radius: var(--muza-border-radius-md);
}
.menu-item:hover {
  background: #f9fafb;
}
.menu-item i {
  margin-right: 10px;
  width: 20px;
  text-align: center;
  color: #666;
}

.add-button {
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button:hover {
  opacity: 0.8;
}
