.music-topbar {
  padding: 12px 24px;
  border-bottom: 1px solid var(--gray-50, #ededed);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-container {
  position: relative;
  min-width: 300px;
}

.search-container::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE0LjAwMDEgMTRMMTEuMTMzNSAxMS4xMzMzTTEyLjY2NjcgNy4zMzMzM0MxMi42NjY3IDEwLjI3ODkgMTAuMjc4OSAxMi42NjY3IDcuMzMzMzMgMTIuNjY2N0M0LjM4NzgxIDEyLjY2NjcgMiAxMC4yNzg5IDIgNy4zMzMzM0MyIDQuMzg3ODEgNC4zODc4MSAyIDcuMzMzMzMgMkMxMC4yNzg5IDIgMTIuNjY2NyA0LjM4NzgxIDEyLjY2NjcgNy4zMzMzM1oiIHN0cm9rZT0iIzZCNzI4MCIgc3Ryb2tlLXdpZHRoPSIxLjMzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
  position: absolute;
  left: 12px;
  top: 55%;
  transform: translateY(-50%);
  color: #666;
}

input {
  width: 100%;
  padding: 6px 8px 8px 35px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  background-color: #f9fafb;
}

input:focus {
  border-color: var(--muza-border-color);
  outline: 1px solid var(--muza-border-color);
}

input:focus::placeholder {
  opacity: 0.5;
}

.controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  color: #666;
}
