.muza-button {
  --button-background: var(--muza-hover-background, #ededed);

  border-radius: 50%;
  background-color: var(--button-background);
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-family: FontAwesome;
}
