.artist-details-card {
  display: flex;
  align-items: center;
  background: white;
  padding: var(--muza-spacing-md);
  border-radius: var(--muza-border-radius-md);
  flex-direction: column;
  align-items: center;
}

.artist-details-card .image-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background: var(--muza-image-background-color-bg);
  box-shadow: var(--muza-box-shadow);
  margin: 0;
}

.artist-details-card .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artist-details-card .info {
  margin-top: 4px;
  flex: 1;
}

.artist-details-card .title {
  font-size: var(--muza-heading-font-size);
  font-weight: var(--muza-font-weight-bold-extra);
  color: var(--muza-primary-text-color);
}

.artist-details-card .subtitle {
  font-size: var(--muza-secondary-font-size);
  color: var(--muza-tertiary-text-color);
  margin-top: var(--muza-spacing-xs);
}
